DB_HOST="aws-0-us-east-1.pooler.supabase.com"
DB_PORT="6543"
DB_USER="postgres.jgoylxpmnhugoyswmxdr"
DB_PASSWORD="TU-CONTRASEÑA"
DB_NAME="postgres"

ADMIN_ACCESS_CODE="GREENUP-ADMIN-2026"

# Configuración del Correo Remitente (GreenUP)
MAIL_USERNAME="greenup213@gmail.com"
MAIL_PASSWORD="netuvcimdeatxhey"
