Flask # Framework principal para crear el backend/API
flask-cors # Permite que el frontend o app movil se comunique con el backend
flasgger # Genera la documentacion Swagger de la API
psycopg2-binary # Conector para trabajar con Supabase/PostgreSQL sin usar ORM
Flask-Mail # Permite enviar correos desde Flask, se usa en recuperacion de contrasena
python-dotenv # Permite leer variables del archivo .env
Werkzeug # Sirve para cifrar y verificar contrasenas
PyJWT # Sirve para crear y validar tokens de inicio de sesion
pandas # Sirve para manejar datos y preparar reportes
openpyxl # Sirve para exportar reportes en Excel
reportlab # Sirve para exportar reportes en PDF
requests # Consume servicios HTTP externos como World News API
gunicorn # Servidor WSGI usado por Render para ejecutar Flask en produccion
